.vs/
debug/
.gitignore

# todo : добавить сюда все, что не касается кода, все файлы которые создает твоя ide :
# *.vcxproj
# папка Release - это тоже, то что не нужно никогда добавлять в гит, т.к. там хранятся все файлы компиляции и бинари
# в проекте должен быть только код и способ его установки, я хз как на винде собирается через вижуал студию,
# думаю что файл Calc.sln - это то что стоит оставить, но хз)
# на линуксах это делается через cmake (но пока забей) просто загугли gitignore для visual studio